.hero-section {
    background-image: url('../images/anna-rosar-ZxFyVBHMK-c-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    min-height: 670px;
    margin-bottom: -90px;
}